<!DOCTYPE html>
<html>
<head>
    <title>Vehicle Data Entry</title>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@300&display=swap" rel="stylesheet">
    <style>
        label {
            display: block;
        }
        body {
            font-family: 'Heebo Light', sans-serif;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .data-entry {
            width: 50%;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="data-entry">
        <h1>Predict Vehicle Prices</h1>
        <h2>Enter the vehicle's data: </h2>
        <form id="vehicle-form" action="{{ url_for('predict')}}" method="post" >
            <label for="manufactor">Manufactor:</label>
   		    <select id="manufactor" name="feature" required>
        <option value="אאודי">אאודי</option>
        <option value="אופל">אופל</option>
        <option value="אלפא רומיאו">אלפא רומיאו</option>
        <option value="ב.מ.וו">ב.מ.וו</option>
        <option value="דייהטסו">דייהטסו</option>
        <option value="הונדה">הונדה</option>
        <option value="וולוו">וולוו</option>
        <option value="טויוטה">טויוטה</option>
        <option value="טסלה">טסלה</option>
        <option value="יגואר">יגואר</option>
        <option value="יונדאי">יונדאי</option>
        <option value="לקסוס">לקסוס</option>
        <option value="מאזדה">מאזדה</option>
        <option value="מיני">מיני</option>
        <option value="מיצובישי">מיצובישי</option>
        <option value="מרצדס">מרצדס</option>
        <option value="ניסאן">ניסאן</option>
        <option value="סובארו">סובארו</option>
        <option value="סוזוקי">סוזוקי</option>
        <option value="סיאט">סיאט</option>
        <option value="סיטרואן">סיטרואן</option>
        <option value="סקודה">סקודה</option>
        <option value="פולקסווגן">פולקסווגן</option>
        <option value="פורד">פורד</option>
        <option value="פיאט">פיאט</option>
        <option value="פיג'ו">פיג'ו</option>
        <option value="קיה">קיה</option>
        <option value="קרייזלר">קרייזלר</option>
        <option value="רנו">רנו</option>
        <option value="שברולט">שברולט</option>
            </select>
            
            <label for="year">Year:</label>
            <input type="number" id="year" name="feature" min="1950" required><br><br>

            <label for="model">Model:</label>
            <input type="text" id="model" name="feature" required><br><br>

            <label for="hand">Hand:</label>
            <input type="number" id="hand" name="feature" min="0" required><br><br>

            <label for="gear">Gear:</label>
            <select id="gear" name="feature" required>
                <option value="לא מוגדר">לא מוגדר</option>
                <option value="אוטומטית">אוטומטית</option>
                <option value="טיפטרוניק">טיפטרוניק</option>
                <option value="ידנית">ידנית</option>
                <option value="רובוטית">רובוטית</option>
            </select><br><br>

            <label for="capacity_engine">Capacity Engine:</label>
            <input type="number" id="capacity_engine" name="feature" min="800" required><br><br>

            <label for="engine_type">Engine Type:</label>
            <input type="text" id="engine_type" name="feature" oninput="validateHebrewInput(this)" required><br><br>

            <label for="prev_ownership">Previous Ownership:</label>
            <select id="prev_ownership" name="feature" required>
                <option value="השכרה">השכרה</option>
                <option value="ליסינג">ליסינג</option>
                <option value="חברה">חברה</option>
                <option value="מונית">מונית</option>
                <option value="ממשלתי">ממשלתי</option>
                <option value="פרטית">פרטית</option>
                <option value="אחר">אחר</option>                
            </select><br><br>

            <label for="curr_ownership">Current Ownership:</label>
            <select id="curr_ownership" name="feature" required>
                <option value="השכרה">השכרה</option>
                <option value="ליסינג">ליסינג</option>
                <option value="חברה">חברה</option>
                <option value="פרטית">פרטית</option>
                <option value="אחר">אחר</option>                
            </select><br><br>

            <label for="area">Area:</label>
            <input type="text" id="area" name="feature" oninput="validateHebrewInput(this)" required><br><br>

            <label for="city">City:</label>
            <input type="text" id="city" name="feature" oninput="validateHebrewInput(this)" required><br><br>

            <label for="pic_num">Picture Number (How many pictures did you upload?):</label>
            <input type="number" id="pic_num" name="feature" min="0" required><br><br>

            <label for="cre_date">Creation Date:</label>
            <input type="date" id="cre_date" name="feature" required><br><br>

            <label for="repub_date">Republication Date:</label>
            <input type="date" id="repub_date" name="feature" required><br><br>

            <label for="description">Description:</label>
            <textarea id="description" name="feature"></textarea><br><br>

            <label for="color">Color:</label>
            <input type="text" id="color" name="feature" oninput="validateHebrewInput(this)" required><br><br>

            <label for="km">Kilometers[>1000]:</label>
            <input type="number" id="km" name="feature" min="1000" required><br><br>

            <label for="test">Test Date:</label>
            <input type="date" id="test" name="feature" ><br><br>

            <button type="submit" class="btn btn-primary px-5">Submit</button>
        </form>
        <h3>{{ prediction_text }}</h3>
    </div>
    <script>
    	function validateHebrewInput(input) {
            	const hebrewRegex = /^[\u0590-\u05FF\s]*$/; // Allows only Hebrew characters and spaces
            	if (!hebrewRegex.test(input.value)) {
                	alert('This field can only contain Hebrew characters and spaces.');
                	input.value = input.value.replace(/[^\u0590-\u05FF\s]/g, ''); // Remove invalid characters
            	
        }}
</script>
</body>
</html>